[
    // This is a global style that will effect all other styles because it doesn't
    // specify an id, or a widget to apply the styles to. Styles are overridden from top->bottom.
    Rule(
        background_color: "blue",
    ),
    Rule(
        id: "main",
        width: 2000,
        height: 2000,
        border_radius: 100
    ),
    Rule(
        id: "increment",
        state: Any,
        color: "#dbdbdb",
        background_color: "magenta",
        border_radius: 25,
        width: 300,
        height: "100",
    ),
    Rule(
        id: "increment",
        state: Active,
        border_radius: 10,
        background_color: "green",
    ),
    Rule(
        id: "decrement",
        color: "red",
        background_color: "teal"
    ),
    Rule(
        id: "decrement",
        state: Active,
        background_color: "orange"
    )
]